<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive product card</title>
    <link rel="stylesheet" href="product_card_grid.css">
    <!-- 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" /> -->

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <header class="flex flex-col justify-center items-center p-4">
        <p class="text-3xl font-bold">Responsive Product Card Grid</p>
        <p class="text-xl">Tailwind CSS</p>
    </header>

    <!-- main grid section -->

    <main
        class="grid  grid-cols-1 md:grid-cols-3 grid-rows-2 w-[60%] mx-auto gap-x-6 gap-y-12 md:h-[120svh] md:max-h-[1200px] p-6">

        <!-- card 1 -->

        <div class="shadow-lg shadow-black rounded-xl grid grid-rows-[70%_30%] ">
            <div>
                <img src="../assets/card_img_1.jpg" alt="" class="rounded-t-xl h-full w-full">
            </div>
            <div class="flex flex-col gap-3 px-2 py-4">
                <p class="text-sm">BRAND</p>
                <p class="font-bold">Product Page</p>
                <div class="flex justify-between">
                    <div class="flex gap-3">
                        <p class="font-bold font-mono">$149</p>
                        <p class="line-through">$199</p>
                    </div>
                    <span class="material-symbols-outlined">
                        enhanced_encryption
                    </span>
                </div>
            </div>
        </div>

        <!-- card 2 -->

        <div class="shadow-lg shadow-black rounded-xl grid grid-rows-[70%_30%]">
            <div CL>
                <img src="../assets/card_img_2.jpg" alt="" class="rounded-t-xl h-full w-full">
            </div>
            <div class="flex flex-col gap-3 px-2 py-4">
                <p class="text-sm">BRAND</p>
                <p class="font-bold">Product Page</p>
                <div class="flex justify-between">
                    <div class="flex gap-3">
                        <p class="font-bold font-mono">$149</p>
                        <p class="line-through">$199</p>
                    </div>
                    <span class="material-symbols-outlined">
                        enhanced_encryption
                    </span>
                </div>
            </div>
        </div>

        <!-- card 3 -->

        <div class="shadow-lg shadow-black rounded-xl grid grid-rows-[70%_30%]">
            <div CL>
                <img src="../assets/card_img_3.jpg" alt="" class="rounded-t-xl h-full w-full object-cover">
            </div>
            <div class="flex flex-col gap-3 px-2 py-4">
                <p class="text-sm">BRAND</p>
                <p class="font-bold">Product Page</p>
                <div class="flex justify-between">
                    <div class="flex gap-3">
                        <p class="font-bold font-mono">$149</p>
                        <p class="line-through">$199</p>
                    </div>
                    <span class="material-symbols-outlined">
                        enhanced_encryption
                    </span>
                </div>
            </div>
        </div>

        <!-- card 4 -->

        <div class="shadow-lg shadow-black rounded-xl grid grid-rows-[70%_30%]">
            <div CL>
                <img src="../assets/card_img_4.jpg" alt="" class="rounded-t-xl h-full w-full object-cover">
            </div>
            <div class="flex flex-col gap-3 px-2 py-4">
                <p class="text-sm">BRAND</p>
                <p class="font-bold">Product Page</p>
                <div class="flex justify-between">
                    <div class="flex gap-3">
                        <p class="font-bold font-mono">$149</p>
                        <p class="line-through">$199</p>
                    </div>
                    <span class="material-symbols-outlined">
                        enhanced_encryption
                    </span>
                </div>
            </div>
        </div>

        <!-- card 5 -->

        <div class="shadow-lg shadow-black rounded-xl grid grid-rows-[70%_30%]">
            <div CL>
                <img src="../assets/card_img_5.jpg" alt="" class="rounded-t-xl h-full w-full object-cover">
            </div>
            <div class="flex flex-col gap-3 px-2 py-4">
                <p class="text-sm">BRAND</p>
                <p class="font-bold">Product Page</p>
                <div class="flex justify-between">
                    <div class="flex gap-3">
                        <p class="font-bold font-mono">$149</p>
                        <p class="line-through">$199</p>
                    </div>
                    <span class="material-symbols-outlined">
                        enhanced_encryption
                    </span>
                </div>
            </div>
        </div>

        <!-- card 6 -->

        <div class="shadow-lg shadow-black rounded-xl grid grid-rows-[70%_30%]">
            <div CL>
                <img src="../assets/card_img_6.jpg" alt="" class="rounded-t-xl h-full w-full object-cover">
            </div>
            <div class="flex flex-col gap-3 px-2 py-4">
                <p class="text-sm">BRAND</p>
                <p class="font-bold">Product Page</p>
                <div class="flex justify-between">
                    <div class="flex gap-3">
                        <p class="font-bold font-mono">$149</p>
                        <p class="line-through">$199</p>
                    </div>
                    <span class="material-symbols-outlined">
                        enhanced_encryption
                    </span>
                </div>
            </div>
        </div>
    </main>
</body>

</html>