<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BreadCrumbs</title>
    <link rel="stylesheet" href="breadcrumb.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="w-1/4 m-auto flex justify-between items-center h-screen">
        <i class="ri-home-8-line"></i>
        <p>Documentation</p>
        <p>/</p>
        <p>Database </p>
        <p>/</p>
        <p>Replication </p>
    </div>
</body>

</html>