<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="footer.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <footer class="h-1/2 w-full  bg-purple-800 text-white pb-8 mt-4">
        <div class="w-[80%] flex m-auto border-b-4 p-24  justify-between">

            <!-- logo section -->
            <div class="w-1/4 flex flex-col gap-5">
                <p class="text-xl font-bold"><span class="text-[red]">YOUR</span>LOGO</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda, neque magni incidunt,
                    deserunt beatae velit fugit sequi iusto provident nisi. Nihil odit itaque tempore quod accusamus
                    dolorem, et quaerat.</p>
                <div class="flex w-2/5 justify-between">
                    <img src="" alt=" ">
                    <img src="" alt=" ">
                    <img src="" alt=" ">
                    <img src="" alt=" ">
                    <img src="" alt=" ">
                </div>

            </div>

            <!-- contact section -->
            <div class="flex flex-col justify-between  w-1/3">
                <div class="flex justify-around items-center w-1/2">
                    <i class="ri-phone-line"></i>
                    <div>
                        <p>+91 91234567890</p>
                        <p>Support Number</p>
                    </div>
                </div>
                <div class="flex justify-around items-center w-1/2">
                    <i class="ri-mail-line"></i>
                    <div>
                        <p>help@lorem.com</p>
                        <p>Support Email</p>
                    </div>
                </div>
                <div class="flex  items-center w-full  gap-8">
                    <i class="ri-map-pin-line"></i>
                    <div>
                        <p>Sub nerul, Mumbai, india, 123456</p>
                        <p>Address</p>
                    </div>
                </div>
            </div>

            <!-- pages -->
            <div class="flex flex-col justify-between">
                <p class="font-bold text-xl">Pages</p>
                <p>Home</p>
                <p>News</p>
                <p>Contact</p>
                <p>Plans and pricing</p>
                <p>Terms and condition</p>
                <p>Privacy policy</p>

            </div>

            <!--Download the app -->
            <div class="flex flex-col gap-12">
                <p class="font-bold text-xl">Download the app</p>
                <div>
                    <img src="" alt=" ">
                    <img src="" alt=" ">
                </div>
            </div>
        </div>

        <p class="text-center p-8"><i class="ri-copyright-line"></i>copyright 2024, All Rights Reserved by YOUR
            WEBSITES. PVT. LTD</p>
    </footer>
</body>

</html>