<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
    <link rel="stylesheet" href="Form.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />

</head>

<body>
    <main class="flex w-[90%] boeder border-2 mx-auto py-10 mt-5 ">
        <!-- form -->
        <div class="w-[50%] m-auto flex flex-col">

            <div class="flex gap-3 justify-center">
                <i class="ri-earth-fill text-blue-400"></i>
                <p class="text-blue-500 font-bold">templatana</p>
            </div>

            <div class="flex flex-col gap-4 items-center my-10">
                <p class="text-3xl font-bold pb-4">Sign Up</p>

                <div class="flex bg-blue-200 gap-4 px-9 py-2 rounded-lg">
                    <i class="ri-google-fill"></i>
                    <p>Sign Up with Google</p>
                </div>

                <div class="flex bg-blue-200 gap-4 px-9 py-2 rounded-lg">
                    <i class="ri-github-fill"></i>
                    <p>Sign Up with GitHub</p>
                </div>
            </div>

            <div class="flex justify-center items-center">
                <hr class="w-[30%]">
                <p>Or sign up with e-mail</p>
                <hr class="w-[30%]">
            </div>


            <form action="" class="flex flex-col justify-center items-center gap-3 mt-8 mb-5">
                <input type="email" name="" id="" placeholder="email" class="w-1/3 bg-gray-100 px-9 py-2">
                <input type="email" name="" id="" placeholder="password" class="w-1/3 bg-gray-100 px-9 py-2">
            </form>

            <div class="bg-blue-600 text-white px-4 py-2 w-1/3 m-auto mt-8">
                <i class="ri-user-add-line"></i>
                <a href="">Sign Up</a>
            </div>

            <div class="w-1/2 text-center m-auto mt-4"><p>I agree t oabide tempalata's <a href="" class="underline underline-offset-1">Terms of service</a> and it's <a href="" class="underline underline-offset-1">privacy policy</a></p></div>
        </div>

        <!-- image -->
        <div class="w-[50%] bg-blue-700">
            <img src="../assets/sign.jpg" alt="" class="h-full w-screen ">
        </div>
    </main>
</body>

</html>