<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card</title>
    <link rel="stylesheet" href="cards.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <header class="flex justify-center md:justify-between items-center px-8 py-4">
        <div>
            <p>Acme inc.</p>
        </div>
        <nav class="hidden md:flex gap-6 ">
            <a href="">AboutUs</a>
            <a href="">Treatment</a>
            <a href="">Blog</a>
            <a href="">Contact Us</a>
        </nav>
    </header>

    <main class="grid md:grid-cols-3 px-[10%] py-0 md:py-8 gap-10 md:gap-[10%] bg-blue-50 md:bg-white">
        <div class="flex flex-col gap-4">
            <p class="text-blue-600 font-semibold">Everything you need</p>
            <p class="text-3xl font-bold"> All-in-one platform</p>
            <p class="text-justify text-sm text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius sapiente cum rem
                molestias, exercitationem
                quia vel aut, impedit !</p>
        </div>
        <div class="flex gap-8 flex-col ">
            <div class="flex gap-4">
                <i class="ri-checkbox-circle-fill text-2xl"></i>
                <div>
                    <p class="font-semibold pb-4">Invite team members</p>
                    <p class="text-sm text-gray-500">Rerum repellat labore necessitatibus reprehenderit molestiae
                        praesentium.</p>
                </div>
            </div>

            <div class="flex gap-4">
                <i class="ri-checkbox-circle-fill text-2xl"></i>
                <div>
                    <p class="font-semibold pb-4">Keyboard shortcuts</p>
                    <p class="text-sm text-gray-500">In sit qui aliquid deleniti et. Ad nobis sunt omnis. Quo sapiente
                        dicta laboriosam.
                    </p>
                </div>
            </div>

            <div class="flex gap-4">
                <i class="ri-checkbox-circle-fill text-2xl"></i>
                <div>
                    <p class="font-semibold pb-4">Notifications</p>
                    <p class="text-sm text-gray-500">Quos inventore harum enim nesciunt. Aut repellat rerum omnis
                        adipisci.</p>
                </div>
            </div>

            <div class="flex gap-4">
                <i class="ri-checkbox-circle-fill text-2xl"></i>
                <div>
                    <p class="font-semibold pb-4">Reporting</p>
                    <p class="text-sm text-gray-500">Eos laudantium repellat sed architecto earum unde incidunt. Illum
                        sit dolores voluptatem.</p>
                </div>
            </div>
        </div>
        <div class="flex gap-8 flex-col">
            <div class="flex gap-4">
                <i class="ri-checkbox-circle-fill text-2xl"></i>
                <div>
                    <p class="font-semibold pb-4">List view</p>
                    <p class="text-sm text-gray-500">Corporis asperiores ea nulla temporibus asperiores non tempore
                        assumenda aut.</p>
                </div>
            </div>

            <div class="flex gap-4">
                <i class="ri-checkbox-circle-fill text-2xl"></i>
                <div>
                    <p class="font-semibold pb-4">Calendars</p>
                    <p class="text-sm text-gray-500">Sed rerum sunt dignissimos ullam. Iusto iure occaecati voluptate
                        eligendi fugiat sequi.</p>
                </div>
            </div>

            <div class="flex gap-4">
                <i class="ri-checkbox-circle-fill text-2xl"></i>
                <div>
                    <p class="font-semibold pb-4">Boards</p>
                    <p class="text-sm text-gray-500">Quae sit sunt excepturi fugit veniam voluptatem ipsum commodi.</p>
                </div>
            </div>

            <div class="flex gap-4">
                <i class="ri-checkbox-circle-fill text-2xl"></i>
                <div class="mb-12 md:m-0">
                    <p class="font-semibold pb-4">Mobile app</p>
                    <p class="text-sm text-gray-500">Nulla est saepe accusamus nostrum est est. Fugit voluptatum omnis
                        quidem voluptatem.</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>





<!-- 





-->