<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive users avtars</title>
    <link rel="stylesheet" href="avtar.css">
</head>

<body>
    <div class="flex justify-center w-[40%] m-auto h-screen flex-col gap-2  ">
        <p class="font-bold">Trusted by</p>



        <div class="flex justify-between w-[86%]">

            <div class="flex justify-center items-center drop-shadow-2xl">
                <img src="../assets/person_1.jpg" alt="" class="img radius object-cover">
                <img src="../assets/person_2.jpg" alt="" class="img radius object-cover relative right-4 ">
                <img src="../assets/person_5.jpg" alt="" class="img radius object-cover relative right-6">
                <img src="../assets/person_4.jpg" alt="" class="img radius object-cover relative right-8">
                <img src="../assets/person_3.jpg" alt="" class="img radius object-cover relative right-10">
                <img src="../assets/person_5.jpg" alt="" class="img radius object-cover relative right-12">
            </div>
            <div>
                <p>join 5,000+ ohter members</p>
            </div>
        </div>


    </div>
</body>

</html>