<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 error</title>
    <link rel="stylesheet" href="error.css">
</head>

<body>
    <div class="flex h-svh justify-center items-center flex-col gap-3">
        <p class="text-8xl font-bold text-gray-600">404</p>
        <p class="text-xl font-semibold">sorry, we couldn't find this page.</p>
        <p class="bg-purple-600 text-white px-24 py-2 rounded-sm">Back to home</p>
    </div>
</body>

</html>