<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product feature section</title>
    <link rel="stylesheet" href="product_feature.css">

    <!-- remix icon CDN link -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- google icon link -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <main class="flex h-svh w-[90%] justify-between items-center ml-auto">
        <!-- text section -->
        <div class="w-2/5 flex flex-col justify-center gap-8  h-full">
            <p class="text-sm text-blue-600 font-bold">Product faster</p>
            <p class="text-3xl font-bold"> An Enterprise API</p>
            <p>We've built an API that allow you to scale your podcast production workflow.</p>
            <!-- text and icon section -->
            <div class="flex flex-col text-sm text-gray-700 gap-5">

                <div class="flex gap-3"><i class="ri-stack-fill text-blue-600"></i>
                    <p><span class=" text-black font-semibold">Template driven</span>
                        Inspired by Sendgrid, Mailchimp, and
                        Postmark, we
                        allow you to create and apply templated content to your media.</p>
                </div>

                <div class="flex gap-3"> <i class="ri-upload-cloud-fill text-blue-600"></i>
                    <p><span class=" text-black font-semibold"> Simple, REST</span> A straightforward REST API that
                        lets you create,
                        generate, and manage your content.</p>
                </div>

                <div class="flex gap-3"> <i class="ri-tools-fill text-blue-600"></i>
                    <p><span class=" text-black font-semibold"> Developer friendly</span> Documented and easy to use, we
                        make
                        it simple to
                        integrate with your existing workflow.</p>
                </div>
            </div>
            <!-- buttons section -->
            <div class="flex gap-3 items-center">
                <a href=""
                    class="bg-blue-600 border-blue-600 border-2 px-4 py-2 text-white rounded-md hover:text-blue-600 hover:bg-white">start
                    for free</a>
                <a href="" class="flex">shedule a demo <span class="material-symbols-outlined">
                        trending_flat
                    </span></a>
            </div>
        </div>

        <div class="flex justify-center items-center h-full">
            <img src="../assets/computer.jpg" alt="" class="rounded-lg w-[90%] h-[60%] shadow-lg shadow-gray-500">
        </div>
    </main>
</body>

</html>