<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product page</title>
    <link rel="stylesheet" href="product_page.css">
</head>

<body>
    <header class="h-[100px] flex justify-between items-center w-[70%] m-auto">
        <div class="font-sans text-3xl font-bold text-slate-800">
            <a href="">WATCH.ME</a>
        </div>
        <div class="flex gap-4 uppercase">
            <a href="" class="hover:bg-gray-200 px-4 py-2">Home</a>
            <a href="" class="hover:bg-gray-200 px-4 py-2">Watch</a>
            <a href="" class="hover:bg-gray-200 px-4 py-2">Product</a>
            <a href="" class="hover:bg-gray-200 px-4 py-2">Contact</a>
            <a href="" class="hover:bg-gray-200 px-4 py-2">Carrer</a>
        </div>
    </header>

    <main class="flex justify-between items-center h-[100vh-100px] w-[70%] m-auto">
        <div class="flex flex-col justify-center items-start w-[60%] gap-4 h-[70vh]">
            <p class="product relative  text-slate-800">
            </p>
            <p class="text-7xl font-sans font-bold mt-10  text-slate-900">BE ON <br>
               <span class="text-6xl">
                TIME
               </span> </p>

            <p class=" text-slate-800">Dimension of reality that makes change possible and understandable. An indefinite and homogeneous
                environment in which natural events and human existence take place.</p>
            <div class="my-4 flex gap-4">
                <a href="" class="bg-pink-500 text-white px-5 py-2 rounded-lg border-pink-500 border-2 hover:bg-pink-100 hover:text-pink-500">GET STARTED</a>
                <a href="" class="bg-pink-500 text-white px-5 py-2 rounded-lg border-pink-500 border-2 hover:bg-pink-100 hover:text-pink-500">READ MORE</a>
            </div>
        </div>
        <div>
            <img src="../assets/watch.png" alt="">
        </div>
    </main>
</body>

</html>